
.fbm-title{

	color: #C136B4
}

.btn-export{
	float: right;
}

.secret-value{
	display: block;
	background-color: #dadada;
	color: #c31c95;
	padding: 0 5px;
	/* max-width: 20px; */
	font-size: 0.95em;
}

