
.LayerSwitcher {
  border:1px solid #C3D0CE;
  width:20em;
  margin:0.4em;
  padding:0.4em;
  font-size: 0.8em;
  line-height: 0.8em;
}
.LayerSwitcher .BaseLayerDiv, .LayerSwitcher .OverlayDiv {
}
.LayerSwitcher .LayerClickDiv, .LayerSwitcher .LayerClickDiv * {
  cursor:pointer;
}
.LayerClickDiv {
  margin: 0.1em;
}
.LayerSwitcher .Separator {
  border-bottom:1px solid #C3D0CE;
  margin:0.5em;
}
.LayerSwitcher .check {
  border:1px solid #C3D0CE;
  height:1em;
  width:1em;
  background:transparent;
  float:left;
  margin: 0 0.5em 0 0;
}
.LayerSwitcher .checkbox {
  /* border-radius:0.2em; */
}
.LayerSwitcher .checkbox.checked {
  background:#FFFFFF;

}
.LayerSwitcher .checkbox.checked:after {
  font: normal normal normal 14px/1 FontAwesome;
  color: #c31c95;
  content: "\f14a";
}

.LayerSwitcher .radiobutton {
  border-radius:1em;
}
.LayerSwitcher .radiobutton.checked {
  background:#ffffff;
}

.LayerSwitcher .radiobutton.checked:after {
  font: normal normal normal 14px/1 FontAwesome;
  color: #c31c95;
  content: "\f192";
}


//////



